/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.headerTitle{
    color: #444;
}

h3 {
    margin: 0 0 15px;
    color: #444;
}

p {
    margin: 0 0 10px;
}

/* Main Container */
.event-details-container {
    display: flex;
    align-items: flex-start; /* Align items to the top (left side) */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Event Image */
.event-image {
    flex: 0 0 35%;
    margin-right: 20px;
}

.event-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Event Info */
.event-info {
    flex: 1;
}

/* Event Short Details */
.event-short-details {
    margin-bottom: 20px;
}

.event-short-details p {
    margin: 5px 0;
}

.event-short-details i {
    margin-right: 10px;
    color: #555;
}

/* Event Description */
.event-description {
    margin-bottom: 30px;
}

/* Location Info */
.event-location-info {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.location-details p {
    margin: 0;
}

button{
        display: inline-block;
        margin-top: 8px;
        margin-left: 1rem;
        padding: 8px;
        color: #B60808FF;
        border: solid #B60808FF;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        max-width: fit-content;
    }

button:hover {
        background-color: #B60808FF;
        color: white;
    }

