body {
    font-family: Arial, sans-serif;
}

h3 {
    text-align: center;
    font-size: 2.2rem;
}

.events-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.event-card {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 90%;
    max-width: 1000px; /* Make it a bit narrower */
    margin: 10px 0; /* Decrease the margin to reduce spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 15px; /* Reduced padding */
}

.event-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-card img {
    width: 220px; /* Reduce the width of the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures that the image is cropped without distortion */
    margin-right: 15px; /* Less margin for a tighter layout */
}

.event-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-content h3 {
    font-size: 18px; /* Reduce the title size */
    margin-bottom: 5px; /* Less margin to reduce the height */
}

.event-date,
.event-location {
    font-size: 12px; /* Make the date and location text smaller */
    color: #555;
    margin-bottom: 6px; /* Less space between items */
    display: flex;
    align-items: center;
}

.event-date i,
.event-location i {
    margin-right: 5px;
    color: #b60808;
}

.details-link {
    display: inline-block;
    margin-top: 8px;
    padding: 8px;
    color: #B60808FF;
    border: solid #B60808FF;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    max-width: fit-content;
}

.details-link:hover {
    background-color: #B60808FF;
    color: white;
}
/* Pagination container */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for pagination links */
.page-link {
    display: inline-block;
    padding: 8px 12px;
    color: #B60808FF;
    border: 1px solid #B60808FF;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
}

.page-link:hover {
    background-color: #B60808FF;
    color: white;
}

/* Style for the current page indicator */
.current-page {
    display: inline-block;
    padding: 8px 12px;
    background-color: #B60808FF;
    color: white;
    border: 1px solid #B60808FF;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
}

